.box {
  border: 1px solid rgba(153,152,152,0.405);
  width: 50vw;
  border-radius: 4px;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.title {
  background: linear-gradient(to left, #4e0eff, #240878);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.score {
  font-family: \"PlusJakartaSans-ExtraBold\",-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif,\"Apple Color Emoji\",\"Segoe UI Emoji\",\"Segoe UI Symbol\";
  color: rgb(107, 109, 111);
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 1.4em;
  transition: all 0.3s ease;
}

.emphasized {
  font-weight: bold;
}